@model Signing.System.Tcc.MVC.ViewModels.Document.DocumentRegisterViewModel

@{
    ViewData["Title"] = "NewDocument";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signing System</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css" asp-append-version="true">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css" asp-append-version="true">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css" asp-append-version="true">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <style>
    </style>
</head>

<body>
    <h1>Registrar nova Image</h1>

    <hr />
    <div class="row">

        <div class="col-md-5 card-body">
            <form asp-action="NewDocument" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger form-group"></div>
                <div class="form-group">
                    <label asp-for="DocumentName" class="control-label"></label>
                    <input asp-for="DocumentName" class="form-control" />
                    <span asp-validation-for="DocumentName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Image">Image</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input id="imageHash" hidden />
                            <input asp-for="Image" type="file" class="custom-file-input">
                            <label asp-for="Image" class="custom-file-label">Selecione uma Image</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DocumentDescription" class="control-label"></label>
                    <textarea asp-for="DocumentDescription" class="form-control" rows="3" placeholder="Insira uma breve descrição da obra."></textarea>
                    <span asp-validation-for="DocumentDescription" class="text-danger"></span>
                </div>
                <div id="confirm" class="callout callout-warning" hidden>
                    <h5>Confirme a transação!</h5>
                    <p>Esta transação vai custar: <b id="cost"></b> créditos, deseja continuar?</p>
                    <div class="icheck-success d-inline">
                        <input type="checkbox" unchecked id="checkboxSuccess1">
                        <label for="checkboxSuccess1">
                            SIM
                        </label>
                    </div>
                </div>
                <div class="container">
                    <div class="row form-group card-footer">
                        <div class="col">
                            <button id="cancelar" type="button" class="btn btn-block btn-danger btn-lg mb-3">Cancelar</button>
                        </div>
                        <div class="col">
                            <button id="enviar" type="submit" class="btn btn-block btn-info btn-lg mb-3 float-right">Enviar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-5 card-body">
            <img id="imgshow" src="" width="300" />
        </div>
    </div>

</body>

<script src="~/plugins/jquery/jquery.min.js"></script>
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
@*<script src="~/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>*@
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
<script src="~/js/adminlte.min.js"></script>

<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/crypto-js/core.js"></script>
<script src="~/lib/crypto-js/sha256.js"></script>

<script>

    $(document).ready(function () {
        bsCustomFileInput.init();

        $('#Image').on("change", function () {

            var imageToHash = this.files[0];

            var reader = new FileReader();

            reader.onload = function (event) {

                var data = event.target.result;

                var hash = CryptoJS.SHA256(data);
                                
                $('#imgshow').attr("src", $('#Image').val());

                var url = "@Url.Action("Quote", "Document")";

                $.post(url, {imageHashToQuote: hash.toString()}).done(function (data) {
                    $('#cost').text(data.gasPrice);
                    $('#confirm').removeAttr('hidden');
                })
                .fail(function (jqXHR, textStatus, data) {
                    alert(data);
                    $('#enviar').attr("disabled", true);
                });

                //$.ajax({
                //    dataType: 'text',
                //    contentType: 'application/json; charset=utf-8',
                //    method: 'POST',
                //    url: url,
                //    data: hash.toString()                  
                //})
                //.done(function (data) {
                //    $('#cost').text(data.gasPrice);
                //    $('#confirm').removeAttr('hidden');
                //})
                //.fail(function (jqXHR, textStatus, data) {
                //    alert(data);
                //    $('#enviar').attr("disabled", true);
                //});
            };

            reader.readAsBinaryString(imageToHash);
        });

        @*$('#Image').change(function () {

            $('#imgshow').attr("src", $('#Image').val());

            var url = "@Url.Action("Quote", "Document")";

            var bodyRequest = JSON.stringify({ "imageHashToQuote": $('#imageHash').val() });

            console.log(bodyRequest);

            $.ajax({
                method: "POST",
                url: url,
                data: bodyRequest
            })
            .done(function (data) {
            $('#cost').text(data.gasPrice);
            $('#confirm').removeAttr('hidden');

            })
            .fail(function (jqXHR, textStatus, data) {
                alert(data);
                $('#enviar').attr("disabled", true);
            });
        });*@

        $('#checkboxSuccess1').change(function () {
            if ($('#checkboxSuccess1').is(':checked')) {
                $('#enviar').attr("disabled", false);
            }
        });
    });

</script>

