
@{
    Layout = null;
    //TODO: CHECK LAYOUT
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DashBoard</title>
</head>
<body>
    <p>Bem vindo @User.Identity.Name</p>

    <form asp-controller="Account" asp-action="Logout" method="post">
        <input type="submit" value="Logoff"/>
    </form>
</body>
</html>
