@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signing System</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css" asp-append-version="true">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css" asp-append-version="true">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css" asp-append-version="true">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <style>
    </style>
</head>

<body>
    <nav>

    </nav>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img src="/img/home/home-blockchain-icon.png" width="40%" />
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <h1 class="display-4">Registro de Autoria em Blockchain</h1>
            </div>

            <div>
                <hr />
            </div>
        </div>

        <div id="validar-imagem" class="pt-xl-5 border card p-5 ">
            <div id="validar-imagem-options">
                <div class="row justify-content-md-center pt-xl-3">
                    <div class="col-sm-4">
                        <div class="row justify-content-md-center">
                            <div class="col-sm-6">
                                <a asp-controller="Account" asp-action="Register" id="registrar" role="button" class="btn btn-block btn-info btn-lg mb-3">Novo Usuário</a>
                            </div>
                            <div class="col-sm-6">
                                <a asp-controller="Account" asp-action="Login" id="logar" role="button" class="btn btn-block btn-info btn-lg mb-3">Logar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center pt-xl-5">
                    <div class="text-center font-weight-bold callout callout-info">
                        Valide a autoria de uma imagem informando o hash obtido na transação ou faça o upload da imagem original registrada na blockchain
                    </div>
                </div>
                <div class="row justify-content-md-center pt-xl-3">
                    <div class="col-sm-4 input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="background:#138496; color:white">#</span>
                        </div>
                        <input type="text" class="form-control" placeholder="5bc80c43e8380daa8538..." id="hashField">
                    </div>
                </div>
                <div class="row justify-content-md-center pt-xl-3">
                    <div class="col-sm-4">
                        <form>
                            <div class="form-group">
                                <label for="imageToHash">Ou</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="imageToHash">
                                        <label class="custom-file-label" for="imageToHash">Selecione uma imagem</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="pt-xl-5">
                            <button id="validar-img" type="button" class="btn btn-block btn-info btn-lg ">Validar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modalHome" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title alert alert-success">Registro Localizado</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-6">
                                        <h2 class="lead text-bold"><b>Nome do autor: </b><spam id="authorImageName"></spam></h2>
                                        <p class="text-muted text-sm"><b>Identificação do autor: </b> <spam id="authoDocumentId"></spam></p>
                                        <p class="text-muted text-sm"><b>Hash do registro: </b> <spam id="transactionId"></spam></p>
                                        <p class="text-muted text-sm"><b>Hash da imagem: </b> <spam id="imageHash"></spam></p>
                                        <p class="text-muted text-sm"><b>Data do registro: </b> <spam id="imageRegisterDate"></spam></p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg"></i></span> Nome da obra: <spam id="documentName"></spam></li>
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg"></i></span> Formato: <spam id="documentFormat"></spam></li>
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg"></i></span> Dimensões: <spam id="documentSize"></spam></li>
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg"></i></span> Descrição: <spam id="documentDescription"></spam></li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center m-3">
                                        <img id="imagePath" src="" alt="" class="img-fluid" style="max-width:300px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            <a id="imgDownload" href="" download="imagem" type="button" class="btn btn-primary btn-info" role="button">Salvar Imagem</a>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <div class="overlay" id="scroll-validate">
                <i class="fas fa-2x fa-sync fa-spin"></i>
            </div>
        </div>
        <div class="row pt-xl-5">
            <div class="col">
                <p class="text-center">Leia mais sobre <a href="https://docs.microsoft.com/aspnet/core">registro de imagens digitais em blockchain</a>.</p>
            </div>
        </div>

    </div>

    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/crypto-js/core.js"></script>
    <script src="~/lib/crypto-js/sha256.js"></script>
</body>
<script>

    $(document).ready(function () {                
        $('#imageToHash').on("change", function () {

            var imageToHash = this.files[0];

            var reader = new FileReader();

            reader.onload = function (event) {

                var data = event.target.result;

                var hash = CryptoJS.SHA256(data);

                console.log(hash.toString());

                $('#hashField').val(hash.toString());

                $("#validar-img").click();
            };

            reader.readAsBinaryString(imageToHash);
        });

        $('#scroll-validate').hide();

        $("#validar-img").click(function () {

            var hashData = $('#hashField').val();

            var url = "@Url.Action("Validate", "Document")";

            $.ajax({
                method: "GET",
                url: url,
                data: {
                    imageHashToValidate: hashData
                },
                beforeSend: function () {
                    $('#scroll-validate').show();
                }
            })
                .done(function (data) {
                    $("#scroll-validate").hide();
                    $('#modalHome').modal('show');
                    $('#authorImageName').text(data.authorImageName);
                    $('#authoDocumentId').text(data.authoDocumentId);
                    $('#transactionId').text(data.transactionId);
                    $('#imageHash').text(data.imageHash);
                    $('#imageRegisterDate').text(data.imageRegisterDate);
                    $('#documentName').text(data.documentName);
                    $('#documentFormat').text(data.documentFormat);
                    $('#documentSize').text(data.documentSize);
                    $('#documentDescription').text(data.documentDescription);
                    $('#imagePath').attr("src", data.imagePath);
                    $('#imgDownloadButton').attr("href", data.imagePath);

                    console.log(data);
                })
                .fail(function (jqXHR, textStatus, data) {
                    alert(data);
                    $('#hashField').val("");
                });

        });
    });
</script>
